<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="test/TestCase.php">
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <logging>
      <log type="coverage-php" target="build/cov/coverage.cov"/>
      <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>